.form-container {
  border: 2px solid #000000;
  border-radius: 8px; 
  padding: 50px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
  margin: 80px auto; 
  background-color: #b9935a;
}

h2 {
  text-align: center;
  color: #fff; 
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 5px; 
}

button {
  background-color: #fff;
  color: #b9935a; 
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50%; 
}

button:hover {
  opacity: 0.8;
}

.error {
  color: rgb(207, 199, 199);
  font-size: 0.9em;
  margin-top: 5px;
}
